<div class="position-absolute top-50 start-50 translate-middle  ">
<div class="card d-flex  row-cols-4 " >

  <div class="  text-center" style="width: 20rem;" *ngFor="let item of lest">
    <img src="{{item.img}}" class="card-img-top w-50" alt="...">
    <div class="card-body">
      <h5 class="text-center  ">{{item.name}}</h5>
      <p class="card-text" >{{item.quantity}}</p>
      <p class="card-text" >{{item.price}}</p>
      <a href="#" class="btn btn-primary">Go </a>
    </div>
  </div>
  <!-- <div class=" ">

    <div class="  text-center " style="width: 20rem;">
      <img src="../../assets/b418c70f-a15b-407f-a0fd-1f12c193fc7a_2.d721b105646df67a887edf1426e5bc3a.webp" class="card-img-top w-50 text-center" alt="...">
      <div class="card-body">
        <h5 class="text-center">Card title</h5>
        <p class="text-center"></p>
        <a href="#" class="btn btn-primary">Go </a>
      </div>
    </div>
  </div>
  <div class=" ">

    <div class="  text-center" style="width: 20rem;">
      <img src="../../assets/b418c70f-a15b-407f-a0fd-1f12c193fc7a_2.d721b105646df67a887edf1426e5bc3a.webp" class="card-img-top w-50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go </a>
      </div>
    </div>
  </div>
  <div class=" ">

    <div class="  text-center" style="width: 20rem;">
      <img src="../../assets/b418c70f-a15b-407f-a0fd-1f12c193fc7a_2.d721b105646df67a887edf1426e5bc3a.webp" class="card-img-top w-50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go </a>
      </div>
    </div>
  </div> -->
</div>

</div>
