<ng-container *ngIf="products.length>0">

  <div class="container">

    <table class="table table-bordered border-primary" *ngFor="let item of products" >
      <thead>
        <tr>
          <th >ID</th>
          <th >Name</th>
          <th >Price</th>
          <th>image</th>
          <th>Itams</th>
          <th>delet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th >{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><img src="{{item.img}}" alt="" width="90px"></td>
          <td><input type="number" name="" id="" value="{{item.quantity}}"> </td>
          <td> <button class="btn btn-danger"> delet</button></td>
        </tr>

      </tbody>
    </table>

  </div>
</ng-container>


